@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(240 240 240);;
}

body {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.text-blue-primary {
  color: #022F40;
}

.bg-primary-one {
  background-color: #022F40;
}

@layer base {
  html {
    @apply 'Roboto Condensed', sans-serif;
  }
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}