{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Streak{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock css_files %}
    {% tailwind_css %}
</head>

<body class="w-full h-screen flex flex-col gap-2 mt-2 bg-primary-one">
    <header class="flex h-19 px-8 py-2 mx-4 justify-between items-center shrink-0 rounded-l bg-gray-900 bg-opacity-80 shadow-2xl">
        <a href="/"><h1 class="text-2xl font-bold bg-gradient-to-r from-blue-400 to-blue-700 via-blue-600 bg-size-200 cursor-pointer transform transition-all duration-500 hover:bg-right-bottom bg-clip-text text-transparent items-center justify-center font-roboto-condensed">Streak</h1></a>
        <nav class="flex justify-center items-center gap-4">
            <a href="/" class="hover:text-gray-400 flex p-3 justify-center items-center gap-3 text-gray-100 text-xl transition-all duration-500 cursor-pointer font-roboto-condensed">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url "streak_list" %}" class="hover:text-gray-400 flex p-3 justify-center items-center gap-3 text-gray-100 text-xl transition-all duration-500 cursor-pointer font-roboto-condensed">My Streaks</a>
                <a href="{% url "logout" %}" class="hover:text-gray-400 flex p-3 justify-center items-center gap-3 text-gray-100 text-xl transition-all duration-500 cursor-pointer font-roboto-condensed">Logout</a>
            {% else %}
                <a href="{% url "login" %}" class="hover:text-gray-400 flex p-3 justify-center items-center gap-3 text-gray-100  text-xl transition-all duration-500 cursor-pointer font-roboto-condensed">Login</a>
                <a href="{% url "signup" %}" class="hover:text-gray-400 flex p-3 justify-center items-center gap-3 text-gray-100 text-xl transition-all duration-500 cursor-pointer font-roboto-condensed">Register</a>
            {% endif %}
        </nav>
    </header>
    <div class="flex justify-center items-center m-0">
        <section class="flex h-fit p-0 rounded-l bg-gray-900 shadow-2xl w-full mx-4 overflow-hidden bg-opacity-80">
            {% block content %}
            {% endblock content %}
        </section>
    </div>
    <footer class="flex justify-center items-center m-0">
        <section class="flex h-fit px-8 py-4 rounded-l bg-gray-900 shadow-2xl w-full mx-4 overflow-hidden bg-opacity-80">
            {% block footer %}
            <div class="items-center justify-center">
                <h1>Streak is created by Umut</h1>
            </div>
            {% endblock footer %}
        </section>

    </footer>
</body>
</html>
